@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("/chat-app-bg.jfif") no-repeat center center fixed; /* Adjust the path */
    background-size: cover;
    background-color: #f0f0f0; /* Fallback color */
    height: 100vh; /* Ensure the body covers the full viewport height */
    margin: 0; /* Remove default margin */
}

::-webkit-scrollbar{
    cursor: pointer;
    width: 8px;
}

::-webkit-scrollbar-track{
    cursor: pointer;
    background-color: #555;
}
::-webkit-scrollbar-thumb{
    background-color: #121212;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #242424;
}